.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 150px;
  padding-top: 80px;
}

.container {
  position: relative;
}
.tag {
  position: absolute;
  z-index: 1000;
  background-color: black;
  opacity: 0.5;
  color: #ffffff;
  font-weight: bold;
}

.welcomeFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2a3b94;
  font-size: 52px;
}

.smallFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
  margin-top: -40px;
  padding-bottom: 40px;
}

.usernameFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #777777;
  font-size: 20px;
}

.forgotFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 20px;
}

.feedbackFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.FormBox {
  border: none;
  border-bottom: 1.2px solid #777777;
  padding-bottom: 2px;
  box-sizing: border-box;
  height: 30px;
  /* left: 35%;
  margin: -25px 0 0 -100px; */
  /* position: relative; */
  width: 410px;
  outline: none;
}

.loginButtonEmpty {
  width: 210px;
  height: 55px;
  border-radius: 50px;
  background-color: #2a3b94;
  border-color: #2a3b94;
  border-width: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.loginButtonEmpty:active {
  background-color: #609af7;
  border-color: #609af7;
}
