.halfMenu {
  background-color: #2b2b3b;
  position: absolute;
  width: 700px;
  height: 100%;
  border-radius: 10px 0px;
  box-shadow: -5px 3px 7px rgba(0, 0, 0, 0.25);
}

.menuRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.menuCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}

.expandFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 13.5px;
}

.menuNameFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 25px;
  padding-left: 40px;
}
